.block {
  background: darkgreen;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;  
  }

h1 {
  color: aliceblue;
}

p {
  font-size: 16px;
  color: brown;
}

#github {
  font-family: Arial, Helvetica, sans-serif;
}